.btn {
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  border: 2px solid transparent;

  &--sm {
    font-size: 12px;
    padding: 4px 10px;
  }

  &--md {
    font-size: 14px;
    padding: 8px 16px;
  }

  &--lg {
    font-size: 16px;
    padding: 12px 20px;
  }

  &--primary {
    background-color: var(--color-background-button-primary-initial);
    color: var(--color-text-button-primary-initial);
    border-color: var(--color-border-button-primary-initial);

    &:hover {
      background-color: var(--color-background-button-primary-hovered);
      border-color: var(--color-border-button-primary-hovered);
    }

    &:disabled {
      background-color: var(--color-background-button-primary-disabled);
      border-color: var(--color-border-button-primary-disabled);
      cursor: not-allowed;
    }
  }

  &--secondary {
    background-color: var(--color-background-button-secondary-initial);
    border-color: var(--color-border-button-secondary-initial);
    color: #fff;

    &:hover {
      background-color: var(--color-background-button-secondary-hovered);
      border-color: var(--color-border-button-secondary-hovered);
    }

    &:disabled {
      background-color: var(--color-background-button-secondary-disabled);
      border-color: var(--color-border-button-secondary-disabled);
      cursor: not-allowed;
    }
  }

  &--outline {
    background: transparent;
    border: 2px solid var(--color-border-button-outline-initial);
    color: var(color-text-button-outline-initial);

    &:hover {
      border-color: var(--color-border-button-outline-hovered);
      background-color: var(--color-background-button-outline-hovered);
      color: #fff;
    }

    &:disabled {
      border-color: var(--color-border-button-outline-disabled);
      background-color: var(--color-background-button-outline-disabled);
      cursor: not-allowed;
    }
  }

  &--ghost {
    background: transparent;
    color: var(--color-primary);

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:disabled {
      background-color: var(--color-background-button-primary-disabled);
      cursor: not-allowed;
    }
  }
}
