$color-primary: #FD6F00;
$color-primary-50: #FFEFE6;
$color-primary-100: #FFCFB0 ;
$color-primary-200: #FFB78A;
$color-primary-300: #FF9654;
$color-primary-400: #FF8233;
$color-primary-500: #FF6300;
$color-primary-600: #E85A00;
$color-primary-700: #B54600;
$color-primary-800: #8C3600;
$color-primary-900: #6B2A00;

$color-secondary: #000000;
$color-secondary-50: #E6E6E6;
$color-secondary-100: #B0B0B0 ;
$color-secondary-200: #8A8A8A;
$color-secondary-300: #545454;
$color-secondary-400: #333333;
$color-secondary-500: #000000;
$color-secondary-600: #000000;
$color-secondary-700: #000000;
$color-secondary-800: #000000;
$color-secondary-900: #000000;

$color-background-button-primary-initial: #FD6F00;
$color-background-button-primary-hovered: #E85A00;
$color-background-button-primary-disabled: #cccccc;
$color-background-button-secondary-initial: #000000;
$color-background-button-secondary-hovered: #000000;
$color-background-button-secondary-disabled: #cccccc;
$color-background-button-outline-initial: transparent;
$color-background-button-outline-hovered: #FD6F00;
$color-background-button-outline-disabled: #cccccc;

$color-text-button-primary-initial: #FFFFFF;
$color-text-button-secondary-initial: #FFFFFF;
$color-text-button-outline-initial: #FD6F00;

$color-border-button-primary-initial: #FD6F00;
$color-border-button-primary-hovered: #E85A00;
$color-border-button-primary-disabled: #cccccc;
$color-border-button-secondary-initial: #000000;
$color-border-button-secondary-hovered: #000000;
$color-border-button-secondary-disabled: #cccccc;
$color-border-button-outline-initial: #FD6F00;
$color-border-button-outline-hovered: #FD6F00;
$color-border-button-outline-disabled: #cccccc;
