/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1, h2, h3, h4, h5, h6,
p, figure,
blockquote,
dl, dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol */
ul[role='list'],
ol[role='list'],
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove form element styling */
input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Base font styles */
body, html {
  line-height: 1.5;
  font-family: Poppins, sans-serif;
  background-color: #fff;
  color: #000;
}
