<header>
  <img priority alt="10GGO" ngSrc="assets/svg/logo.svg" class="logo" width="200" height="60"/>
  <nav>
    <ul>

      <li>
        <a href="home#home">
          <span>Home</span>
        </a>
      </li>

      <li>
        <a href="home#aboutme">
          <span>About Me</span>
        </a>
      </li>

      <li>
        <a href="home#services">
          <span>Services</span>
        </a>
      </li>

      <li>
        <a href="home#projects">
          <span>Projects</span>
        </a>
      </li>

      <li>
        <a href="home#testimonials">
          <span>Testimonials</span>
        </a>
      </li>

      <li>
        <a href="home#cotact">
          <span>Contact</span>
        </a>
      </li>

      <li>
        <app-split-button [items]="themes">
          <ng-template #labelTemplate>
            <img ngSrc="assets/svg/theme.svg" alt="Theme" width="20" height="20"/>
          </ng-template>
        </app-split-button>
      </li>

      <li>
        <app-button variant="primary">Download CV</app-button>
      </li>
    </ul>
  </nav>
</header>
