<header>
  <img priority alt="10GGO" ngSrc="assets/svg/logo.svg" class="logo" width="200" height="60"/>
  <nav>
    <ul>

      <li>
        <a href="#home">
          <span>Home</span>
        </a>
      </li>

      <li>
        <a href="#aboutme">
          <span>About Me</span>
        </a>
      </li>

      <li>
        <a href="#services">
          <span>Services</span>
        </a>
      </li>

      <li>
        <a href="#projects">
          <span>Projects</span>
        </a>
      </li>

      <li>
        <a href="#testimonials">
          <span>Testimonials</span>
        </a>
      </li>

      <li>
        <a href="#cotact">
          <span>Contact</span>
        </a>
      </li>

      <li>
        <app-button variant="ghost">Download CV</app-button>
      </li>
    </ul>
  </nav>
</header>
